@import '../../styles//core.scss';

.container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  @include sm {
    flex-direction: column;
  }
  &__left {
    flex-basis: 65%;
    @include sm {
      flex-basis: 100%;
    }
    &__prev {
      background-color: $black;
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      overflow: hidden;
      &__descript {
        z-index: 2;
        font-size: 14px;
        padding-bottom: 1.15em;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        position: relative;
        @media screen and (min-width: 768px) {
          padding-bottom: 1em;
          padding-top: 1em;
        }
        &_title {
          text-align: center;
          font-size: 18px;
          font-weight: 400;
          line-height: 2rem;
        }
        &_text {
          text-align: center;
          padding-top: 14px;
          font-size: 14px;
        }
      }
      &__blur {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
        -webkit-filter: blur(50px);
        filter: blur(50px);
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
        opacity: 0.5;
      }
      &__card {
        justify-content: flex-start;
        flex: 1 1;
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        flex-direction: column;
        &__wrapper {
          position: relative;
          z-index: 2;
          &_img {
            max-height: 768px;
            max-width: 100%;
            border-style: none;
          }
        }
      }
    }
  }
  &__right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 35%;
    height: 100%;

    &__purchase {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      min-height: 80vh;
    }
  }
}
