$font-size-base: 16px;
$font-size-lage: 20px;
$font-size-xl: 28px;

$base-font-color: #551a8b;


// COLORS
$color-primary: #5ecc88;
$color-primary-light: #f3fbeb;
$color-primary-dark: #272a3a;

$color-secondary-light: #e0f8c7;
$color-secondary-dark: #359459;

$backdrop:  rgba(255, 255, 255, 0.7);


$white: #fff;
$black: #000;

