@import '../../styles/core.scss';

input:-webkit-autofill  {
  background: #131419 !important;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected {
  border-bottom: 2px solid #006c9c;
}

.selected h5 {
  font-weight: 700 !important;
  color: #006c9c !important;
}

.form {
  position: relative;
  width: 400px;
  padding: 40px 40px 20px;
  background: #131419;
  border-radius: 10px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.form h5 {
  margin: 10px auto;
  display: inline-block;
  font-size: 24px;
  color: #c7c7c7;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.form .input {
  text-align: left;
  margin-top: 40px;
}

.form .input .inputBox {
  margin-top: 20px; 
}

.form .input .inputBox label {
  display: block;
  color: #868686;
  margin-bottom: 5px;
  font-size: 18px;

}

.form .input .inputBox input, select {
  width: 100%;
  height: 50px;
  background-color: #131419;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 5px 15px;
  color: #fff;
  font-size: 18px;
  color: #03a9f4 !important;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
  inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputBox input[type="submit"] {
  margin-top: 20px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
  2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputBox input[type="submit"]:active {
  color: #006c9c;
  margin-top: 20px;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
  inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputBox input::placeholder{
  color: #555;
  font-size: 18px;
}

.forget {
  margin-top: 30px;
  color: #555;
  &_link {
    color: #ff0047;
  }
}

.container {
  margin: 200px auto;
}

.error {
  text-align: center;
  color: #fff;
}

.error::before {
  display: inline;
  content: "⚠ ";
}

//////////////Download file styles
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  padding: 0;
  margin: 0;
}

[type="file"] + label {
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px 25px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-size: inherit;
  outline: none;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.3s;

  
  &:hover {
    background-color: darken(#03a9f4, 10%);
  }
  
  &.btn_3 {
    text-align: center;
    width: 70%;
    background-color: #03a9f4;
    overflow: hidden;
    
    span {
      display: inline-block;
      height: 100%;
      transition: all 0.3s;
      width: 100%;
    }
    
    &::before {
      color: #fff;
      content: "\f255";
      font-family: "Ionicons";
      font-size: 130%;
      height: 100%;
      left: 0;
      line-height: 2;
      position: absolute;
      top: -180%;
      transition: all 0.3s;
      padding-left: 20px;
      //width: 100%;
    }

    &:hover {
      background-color: darken(#0492d4, 30%);
      
      span {
        transform: translateY(300%);
      }
        
      &::before {
        top: 0;
      }
    }
  }
}

.file_container {
  text-align: center;
  &_name{
    padding-top: 10px;
    padding-left: 60px;
    display: block;
    height: 30px;
    text-align: start;
    color: $white;
  }
}